<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<head>
	<title>City</title>
</head>
<body>
	<div style="padding-left: 20px; padding-top: 20px">
		<p>The details of your weekend get away at the <strong>[[${level}]]</strong> level to <strong>[[${city}]]</strong> are being emailed to <strong>[[${email}]]</strong></p>
	</div>
</body>
</html>